
@{
    ViewBag.Title = "Exit";
}

<h2>Exit</h2>

<div class="w3-bar w3-black">
    <a href="@Url.Action("Stack","Index")" class="w3-bar-item w3-button">Stack</a>
    <a href="@Url.Action("Queue","Index")" class="w3-bar-item w3-button">Queue</a>
    <a href="@Url.Action("Dictionary","Index")" class="w3-bar-item w3-button">Dictionary</a>
    <a href="@Url.Action("Exit","Index")" class="w3-bar-item w3-button">Exit</a>
</div>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>