
@{
    ViewBag.Title = "Data Structures HW";
}

<h2>Data Structures Homework</h2>

<div class="w3-bar w3-black">
    <a href="@Url.Action("Index","Stack")" class="w3-bar-item w3-button">Stack</a>
    <a href="@Url.Action("Index","Queue")" class="w3-bar-item w3-button">Queue</a>
    <a href="@Url.Action("Index","Dictionary")" class="w3-bar-item w3-button">Dictionary</a>
    <a href="@Url.Action("Exit","Index")" class="w3-bar-item w3-button">Exit</a>
</div>

<style>

    body {
        background-image: url('../../Content/Graphics/waterfall.jpg');
    }
</style>