
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="w3-bar w3-black">
    <a href="@Url.Action("Stack","Index")" class="w3-bar-item w3-button">Stack</a>
    <a href="@Url.Action("Queue","Index")" class="w3-bar-item w3-button">Queue</a>
    <a href="@Url.Action("Dictionary","Index")" class="w3-bar-item w3-button">Dictionary</a>
    <a href="@Url.Action("Exit","Index")" class="w3-bar-item w3-button">Exit</a>
</div>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Add one time to Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Add Huge List of Items to Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Display Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Delete Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Clear Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Search Dictionary</a>
    <a href="#" class="w3-bar-item w3-button">Return to Main Menu</a>
</div>